<div class="pb-2 pt-2 mb-4 border-bottom">
    <p class="h2 mb-0"><i class="fa fa-home"></i> {{ 'HOME.TITLE' | translate }}</p>
</div>

<div class="row mb-3">
  <div class="col-xl-6 col-sm-12 py-2">
      <div class="card bg-success text-white h-100">
          <div class="card-body bg-success">
              <div class="rotate">
                  <i class="fa fa-user fa-4x"></i>
              </div>
              <h1 class="text-uppercase font-weight-bold">Opérations chargées</h1>
              <h1 class="display-4">134</h1>
          </div>
      </div>
  </div>
  <div class="col-xl-6 col-sm-12 py-2">
      <div class="card text-white bg-danger h-100">
          <div class="card-body bg-danger">
              <div class="rotate">
                  <i class="fa fa-list fa-4x"></i>
              </div>
              <h1 class="text-uppercase font-weight-bold">Opérations chargées avec erreur</h1>
              <h1 class="display-4">87</h1>
          </div>
      </div>
  </div>
  <div class="col-xl-6 col-sm-12 py-2">
      <div class="card text-white bg-info h-100">
          <div class="card-body bg-info">
              <div class="rotate">
                  <i class="fa fa-twitter fa-4x"></i>
              </div>
              <h1 class="text-uppercase font-weight-bold">Opérations rejetées</h1>
              <h1 class="display-4">125</h1>
          </div>
      </div>
  </div>
  <div class="col-xl-6 col-sm-12 py-2">
      <div class="card text-white bg-warning h-100">
          <div class="card-body">
              <div class="rotate">
                  <i class="fa fa-share fa-4x"></i>
              </div>
              <h1 class="text-uppercase font-weight-bold">Opérations avec alerte</h1>
              <h1 class="display-4">36</h1>
          </div>
      </div>
  </div>
</div>