<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>403 Accès non autorisé</h2>
                <br>
                <img id="loadingImage" calss="flashing" src="/assets/images/logo.png" />
                <br><br>
                <div class="error-details">
                    Désolé, la page demandée n'est autorisée!
                </div>
                <div class="error-actions">
                    <i id="home" routerLink="/home" class="fa fa-home"></i>
                </div>
            </div>
        </div>
    </div>
</div>